.index-map .item {
    display: block;
    position: relative;
    width: 100%;
    height: 260px;
    overflow: hidden;
}

.index-map .item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease;
}

.index-map .item:hover:before {
    background: rgba(0, 0, 0, 0.2);
}

.index-map .item .bg1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.index-map .item .bg1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease;
}

.index-map .item:hover .bg1 img {
    transform: scale(1.05);
}

.index-map .item .bg2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    text-align: right;
    border: 6px solid white;
    opacity: 0;
    transition: all 0.4s ease;
}

.index-map .item:hover .bg2 {
    opacity: 1;
}

.index-map .item .bg2 img {
    height: 100%;
    width: auto;
}

.index-map .item .layer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.index-map .item .layer::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    width: 134px;
    height: 134px;
    background-image: url(../images/map-title-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.index-map .item .layer h3 {
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 10px;
}

.index-map .item .layer img {
    width: 210px;
    transition: all 0.2s ease;
    opacity: 0;
}

.index-map .item:hover .layer img {
    opacity: 1;
}

.index-map .expectation {
    width: 100%;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: rgba(255, 255, 255, 0.3);
    background-image: url(../images/qidai-bg.jpg);
    background-repeat: repeat;
    background-size: cover;
    position: relative;
}

.index-map .expectation::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.4s ease;
}

.index-map .expectation span {
    position: relative;
    z-index: 2;
}








































.index-map .item {
    display: block;
    position: relative;
    width: 100%;
    height: 260px;
    overflow: hidden;
}

.index-map .item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease;
}

.index-map .item:hover:before {
    background: rgba(0, 0, 0, 0.2);
}

.index-map .item .bg1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.index-map .item .bg1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease;
}

.index-map .item:hover .bg1 img {
    transform: scale(1.05);
}

/* 卡片外圈：默认黑 + 微金光 */
.index-map .item .bg2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    text-align: right;

    /* ★ 改成黑金风 */
    border: 4px solid rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
    opacity: 0;
    transition: all 0.4s ease;
}

/* 悬浮时：用金色提亮一点 */
.index-map .item:hover .bg2 {
    opacity: 1;
    border-color: var(--themeColor); /* #db9a45，在 common.css 里设过了 */
    box-shadow:
        0 0 12px rgba(219, 154, 69, 0.7),
        0 0 26px rgba(0, 0, 0, 0.9);
}

/* 覆盖层也可以稍微淡一点，这样黑金边更明显 */
.index-map .item::before {
    background: rgba(0, 0, 0, 0.55);
}
.index-map .item:hover:before {
    background: rgba(0, 0, 0, 0.35);
}


.index-map .item .layer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.index-map .item .layer::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    width: 134px;
    height: 134px;
    background-image: url(../images/map-title-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.index-map .item .layer h3 {
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 10px;
}

.index-map .item .layer img {
    width: 210px;
    transition: all 0.2s ease;
    opacity: 0;
}

.index-map .item:hover .layer img {
    opacity: 1;
}

.index-map .expectation {
    width: 100%;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: rgba(255, 255, 255, 0.3);
    background-image: url(../images/qidai-bg.jpg);
    background-repeat: repeat;
    background-size: cover;
    position: relative;
}

.index-map .expectation::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.4s ease;
}

.index-map .expectation span {
    position: relative;
    z-index: 2;
}